<br />
<hr />
<div id="footer" class="text-center">
  <span class="text-muted">Created by Priyank in 2021</span>
  <div class="mt-2">
    <a class="mx-1" href="https://www.instagram.com/_ig.priyank/" target="_blank">
      <img class="img-muted" src="../../../../assets/images/instagram.svg" />
    </a>
    <a class="mx-1" href="https://www.linkedin.com/in/patel23priyank/" target="_blank">
      <img class="img-muted" src="../../../../assets/images/linkedin.svg" />
    </a>
    <a class="mx-1" href="https://github.com/patel-priyank" target="_blank">
      <img class="img-muted" src="../../../../assets/images/github.svg" />
    </a>
  </div>
</div>
<br />
