/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-darkmode/darktheme';

.user-card {
  transition: transform 0.2s;
}

.user-card:hover {
  z-index: 99;
  transform: scale(1.15);
}

.user-card-shadow-light {
  box-shadow: 0 0.5rem 1rem rgba(30, 0, 0, 0.15);
}

.user-card-shadow-dark {
  box-shadow: 0 0.5rem 1rem rgba(255, 225, 225, 0.15);
}

.pointer {
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #007bff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
